/*----------------------------------------------------------------
		SETTINGS
-------------------------------------------------------------- */


/*----------------------------------------------------------------
		HELPERS
-------------------------------------------------------------- */

@base-padding:  2rem;
@base-margin:   2rem;

@base-border-radius: .4rem;
@sprites: url('../images/sprite.png');

/*----------------------------------------------------------------
		BREAKPOINTS
-------------------------------------------------------------- */

@desktop:   ~"only screen and (min-width: 960px)";
@tablet: ~"screen and (min-width: 540px) and (max-width: 960px)";
@phone:    ~"only screen and (max-width: 540px)";

@container-width: 86rem;
@container-width-tablet: 70rem;

/*----------------------------------------------------------------
		TYPOGRAPHY
-------------------------------------------------------------- */

@base-size: 		    62.5%;  /* 10px */
@base-fontsize:         1.8rem; /* 18px */
@base-lineheight: 		170%;

@selection-color: 		@white;
@selection-background: 	@black;

@text-color: 			@black;

@linkColor: 			@primary;
@linkHoverColor: 		darken(@linkColor, 15%);

@georgia:				Georgia, serif;
@helvetica:             "Helvetica Neue", Helvetica, Arial, sans-serif;
@source-serif:  		'Source Serif Pro', serif;
@source-sans:  			'Source Sans Pro', sans-serif;

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700);



