/* --------------------------------------------------------------
		BUTTONS
-------------------------------------------------------------- */

.btn, button {
	display: inline-block;
	width: auto;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 13px;
	line-height: 18px;
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
	background: @black;
	color: @white;

	&:hover {
		color: @silver;
		background: @gray;
	}
}