/* --------------------------------------------------------------
		BUTTONS
-------------------------------------------------------------- */

.btn,
.btn:link,
.btn:visited {
  border-radius: .4rem;
  border: .1rem solid @black;
  line-height: 1;
  color: @black;
  display: inline-block;
  padding: 1.12rem 1rem;
  text-decoration: none;
  text-align: center;
  font-size: 90%;

  &:hover {
    color: @primary;
    border: 1px solid @primary;
  }

  &:active {
    background: @primary;
    color: @white;
  }
}

.btn--black,
.btn--black:link,
.btn--black:visited {
  background: @black;
  color: @white;

  &:hover {
    border: .1rem solid @black;
    color: @silver;
  }

  &:active {
    border: .1rem solid @primary;
  }
}

.btn--primary,
.btn--primary:link,
.btn--primary:visited {
  background: @primary;
  border: .1rem solid @primary;
  color: @white;

  &:hover {
    border: .1rem solid darken(@primary, 10%);
    background: darken(@primary, 10%);
    color: @white;
  }

  &:active {}
}

.p-btn--full {
  @media @phone {
    width: 100%;
    display: block;
  }
}