/* --------------------------------------------------------------
	$GRID
-------------------------------------------------------------- */

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px; 
}
	
	.container:after {
	  content: "";
	  display: table;
	  clear: both;
	}

[class*='box-'] {
	float: left;
	display: inline-block;
	padding: 20px 5px;
}


.box-12    {width: 100%; }
.box-11    {width: 91.6%;}
.box-10    {width: 83.3%;}
.box-9     {width: 75%;  }
.box-8     {width: 66.6%;}
.box-7     {width: 58.3%;}
.box-6     {width: 50%;  }
.box-5     {width: 41.6%;}
.box-4     {width: 33.3%;}
.box-3     {width: 25%;  }
.box-2     {width: 16.6%;}
.box-1     {width: 8.3%; }


/* --------------------------------------------------------------
	$MEDIA QUERIES 
-------------------------------------------------------------- */

@media screen and (min-width: 540px) and (max-width: 960px) {
 .container {
 	max-width: 760px;
 }

}

@media only screen and (max-width: 540px) {
[class*='box-'] {
	width: 100%;
	margin-left: 0;
	display: block;
}


header h1 {
	display: block;
	text-align: center;
	width: 100%;
}

header nav.open {
	display: block;
	width: 100%;
	transition: height .2s;
	-webkit-transition: height .2s;
	-moz-transition: height .2s;
	height: auto;
}

header nav.open ul {
	margin-top: 30px;
	border-top: 1px solid #999;
}

header nav.open ul li {
	width: 100%;
	padding: 15px;
	margin: 0;
	text-align: center;
	border-bottom: 1px solid #999;
}

nav.closed, nav.closed-start {
	display: none;
}

blockquote {
	padding: 0 10px;
	margin: 0;
}

input {
	display: block;
	width: 100%;
}

.box-shadow-menu {
	display: block !important;
  position: relative;
  padding:12px 0 0 25px;
  border: none;
  color:#777;
}

.box-shadow-menu:hover {
  padding:12px 0 0 25px;
}


.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1em;
  width: 1em;
  height: 0.15em;
  background: #777;
  box-shadow: 
    0 0.25em 0 0 #777,
    0 0.5em 0 0 #777;
}


}
