/* --------------------------------------------------------------
		$BASIC STYLES
-------------------------------------------------------------- */

* {
	margin: 0;
	padding: 0;	
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html { 
	overflow-y: scroll; 
}

body {
	font-size: 100%/1.5;
	font-family:  Helvetica Neue, Helvetica, Arial, sans-serif;
}

img {
	max-width: 100%; 
}

::selection { 
	background: #e67e22;
	color:#fff; 
	text-shadow : none; 
}

::-moz-selection { 
	background:#e67e22;
	color:#fff; 
	text-shadow : none; 
}

a, a:visited {
	text-decoration: underline;
	color: inherit;
}

a:hover {
}

ul {
	padding: 0;
}

/* --------------------------------------------------------------
		Typography
-------------------------------------------------------------- */

h1 { 
  font-size: 3rem; 
  line-height: 1em;
  margin-bottom: 12px; 
}

h2 { 
  font-size: 2rem; 
  line-height: 1em;
  margin-bottom: 12px;
}

h3 { 
  font-size: 1.5rem; 
  line-height: 1em;
  line-height: 12px; 
}

p {
	font-size:1em;
	line-height:1.7em;
	display: block;
    margin-bottom: 1.2em; 
 }

	p:last-child {
		margin-bottom: 0;
	}


