/* --------------------------------------------------------------
		$BASIC STYLES
-------------------------------------------------------------- */

* {
	margin: 0;
	padding: 0;	
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html { 
	overflow-y: scroll; 
}

body {
	font-size: 100%/1.5;
	font-family:  Helvetica Neue, Helvetica, Arial, sans-serif;
}

img {
	max-width: 100%; 
}

::selection { 
	background: #e67e22;
	color:#fff; 
	text-shadow : none; 
}

::-moz-selection { 
	background:#e67e22;
	color:#fff; 
	text-shadow : none; 
}

a, a:visited {
	text-decoration: underline;
	color: inherit;
}

a:hover {

}

blockquote {
	line-height: 1.7em;
	border-left: 8px solid #eee;
	padding: 0 40px;
}

blockquote p {
	float: right;
	font-weight: 900;
}

p + blockquote {
	margin-top: 40px;
}

blockquote + p {
	margin-top: 40px;
}

ol, ul {
	line-height: 1.5em;
}

ol li ol, ul li ul {
	margin: 5px 5px;
}

.btn {
	margin-top: 15px;
	display: inline-block;
	border: 1px solid #bbb;
	color: #333;
	font-size: .9em;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	background: #eee;	  
}

.btn:hover {
	background: #E3E3E3;
	-webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer;
}

.btn:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 2px 2px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#cccccc));
	background-image: -webkit-linear-gradient(#eeeeee, #cccccc);
	background-image: -moz-linear-gradient(#eeeeee, #cccccc);
	background-image: -o-linear-gradient(#eeeeee, #cccccc);
	background-image: linear-gradient(#eeeeee, #cccccc);
}

form p {
	margin-bottom: 0;
}

input {
	display: block;
	border-radius: 3px;
	border: 1px solid #bbb;
	padding: 10px;
}

input + input {
	margin-top: 1em;
	margin-top: 16px;
}

input:focus {
	outline: 0;
	-webkit-transition: all .3s ease-in-out;
 	-moz-transition: all .3s ease-in-out;
  	-o-transition: all .3s ease-in-out;
  	transition: all .3s ease-in-out;
  	background: #eee;
  	border: 1px solid #999;
}


/* --------------------------------------------------------------
		$TYPOGRAPHY
-------------------------------------------------------------- */

h1 { 
  font-size: 3rem;
  font-size: 48px;
  line-height: 16px;
  line-height: 1em;
  margin-bottom: 12px; 
}

h2 { 
  font-size: 2rem;
  font-size: 36px;
  line-height: 16px;
  line-height: 1em;
  margin-bottom: 12px;
}

h3 { 
  font-size: 1.5rem;
  line-height: 16px; 
  line-height: 1em;
  line-height: 12px; 
}

p {
	font-size:1em;
	font-size: 16px;
	line-height:1.7em;
	line-height: 27.5px;
	display: block;
    margin-bottom: 1.2em; 
 }

	p:last-child {
		margin-bottom: 0;
	}

/* --------------------------------------------------------------
		$HEADER
-------------------------------------------------------------- */
header {
	padding: 40px 0;
	background: #eee;
}


header h1 {
	float:left;
	line-height: 1;
	margin: 0;
}

header nav {
	float:right;
}

header nav ul {
	padding: 0;
}

header nav ul li {
	display: inline-block;
	padding: 0 5px;
	font-weight: 900;
}

/* --------------------------------------------------------------
		$CONTENT
-------------------------------------------------------------- */



/* --------------------------------------------------------------
		$FOOTER
-------------------------------------------------------------- */

footer {
	width: 100%;
	padding: 30px 0 10px 0;
}

footer p {
	font-size: .8em;
	text-align: center;
}
