/* --------------------------------------------------------------
		4. SITE
			4.1 HEADER
-------------------------------------------------------------- */

header {
  padding: 4rem 0;

  .logo {
    display: inline-block;
    margin: -1.4rem 0 0 0;
    padding: 0;

    img {
      width: 8rem;

      &:hover {
        .opacity(.7);
      }
    }

    @media @phone {
      text-align: center;

      img {
        margin: 0 auto;
      }
    }
  }

  nav[role=navigation] {

    .primary-nav {
      text-align: right;
      padding: 0;

      @media @phone {
        text-align: center;
      }

      li {
        display: inline;

        &:not(:last-child) {
          margin-right: 3.5rem;
        }

        @media @phone {
          margin: 0 2rem;
        }

        a {

          &:hover {

          }
        }
      }
    }
  }
}